@using Microsoft.AspNetCore.Identity
@inject SignInManager<ILAUser> SignInManager
@inject UserManager<ILAUser> UserManager

<ul class="navbar-nav flex-grow-1">
  @if (SignInManager.IsSignedIn(User))
  {
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="MVC" asp-controller="Courses" asp-action="Index">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="MVC" asp-controller="Lectures" asp-action="Index">Lectures</a>
    </li>
  }
  else
  {
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
  }
</ul>